GitPython
PyGithub
matrix-client==0.4.0
transformers
huggingface-hub>0.20
typer
rich
typing-extensions
opencv-python
piexif
torch
numpy<2
numexpr
simpleeval
pillow>=10.3.0
scipy
color-matcher
matplotlib
huggingface_hub
mss
numba
colour-science
rembg
pixeloe
transparent-background
timm==0.6.13
pycocoevalcap
qrcode[pil]
pytorch_lightning
kornia
pydantic
segment_anything
omegaconf
boto3>=1.34.101
onnxruntime-gpu
requirements-parser
imageio_ffmpeg
rich_argparse
onnxruntime
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
imageio
joblib
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
scikit-image>=0.20.0
scikit-learn
tqdm
librosa
clip-interrogator
ultralytics
ultralyticsplus
CLIPSeg
OpenCV
